html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff;
}

* {
  font-family: 'Lato', sans-serif;
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    width: 60px;
    height: 60px;
  }
}

@import './home/home';
@import './anon/login';
@import './anon/splash';
@import './payment/payment';
@import './navbar';
