.payment-page-container {
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  #dropin-container {
    width: 500px;
  }

  .payment-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    margin-top: 12px;
    padding: 8px 12px;
    background-color: #2eab00;
    border-color: #2eab00;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: #3cde00;
    }
  }

  .your-subscription {
    width: 500px;
    font-size: 16px;
    color: #000;
  }

  .subscription-container {
    width: 500px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 12px;
    color: #000;
  }
}
