#login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .outer-container {
    width: 320px;
    margin-top: 45px;
  }

  .title-container {
    margin-bottom: 18px;
  }

  .custom-tab-styles {
    border-bottom: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  .no-margin {
    margin-left: 0;
    margin-right: 0;
  }

  .underline {
    text-decoration: underline;
  }

  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    form {
      width: 100%;
    }

    .banner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      background-image: url(/home-image.png);
      background-repeat: no-repeat;
    }

    .banner-text {
      width: 100%;
      font-size: 22px;
      text-align: center;
      padding: 6px;
      color: #fff;
      letter-spacing: 1px;
    }
  }
}
