.splash-container {
  .splash-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .loading-container {
    position: relative;
    margin: 28px 0;
  }

  .gif-container {
    position: absolute;
    z-index: 10000;
    top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: #fff;
    }
  }

  .elevator-pitch {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    min-width: 550px;

    h2, h3 {
      line-height: 1.25;
    }
  }

  .demo-card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 18px 0;
    padding: 22px 0;
  }

  .demo-card-explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
  }

  .create-account-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 28px;
  }

  .supporting-text-row {
    margin-top: 25px;
    margin-bottom: 80px;
    width: 50%;
    min-width: 550px;
  }

  .image-and-text {
    display: flex;
    justify-content: space-between;
    margin: 28px 0;
    padding: 18px 0;

    img {
      height: 120px;
      margin: 0 8px;
    }
  }
}
